
.container {
  height: 100vh;
  display: flex;
}

#panel-1 {
  min-height: 100%;
  width: 200px;
  background-color:  #e2e2e2;
  transition: width 1s;
}

#panel-2 {
  display: flex;
  width: 950px;
  transition: width 1s;
  box-shadow: 25px 0 25px -25px #000 inset, -25px 0 25px -25px #000 inset;
}

#panel-3 {
  min-height: 100%;
  width: 200px;
  background-color:  #e2e2e2;
  transition: width 1s;
}

#field-main {
  width: 700px;
}

#field-aside {
  max-width: 35%;
}

#panel-2 > div {
  border: 1px solid #000000;
  margin: 5px;
}

.input-title {
  font-weight: 600;
}

input {
  display: block;
  margin: 10px;
  width: 200px;
}

#field-aside > span {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}

#arrow-left  {
  content: '';
  position: absolute;
  left: 205px;
  /* bottom: -20px; */
  top: 50%;
  border: 40px solid transparent;
  border-right: 40px solid #577d9f;
  transition: left 1s;
}

#arrow-right {
  content: '';
  position: absolute;
  right: 147px;
  /* bottom: -20px; */
  top: 50%;
  border: 40px solid transparent;
  border-left: 40px solid #577d9f;
  transition: right 1s;
}

/* #arrow-left, #arrow-right {
  display: block;
  height: 120px;
  width: 120px;
  position: relative;
  margin-top: 30%;
  transition: margin-right 1s;
  transition: margin-top 1s;
}

#arrow-left {
  margin-right:  -35px;
  border: 20px solid transparent;	border-right: 20px solid #577d9f;
} */

.animation-hide {
  animation-name: hide-panel;
  animation-duration: 0.5s;
}

.animation-show {
  animation-name: show-panel;
  animation-duration: 0.5s;
}

@keyframes hide-panel {
  from: {width: 20%;}
  to: {width: 0%;}
}

@-webkit-keyframes hide-panel {
  from: {width: 20%;}
  to: {width: 0%;}
}



@keyframes show-panel {
  from: {width: 0%;}
  to: {width: 20%;}
}

@-webkit-keyframes show-panel {
  from: {width: 20%;}
  to: {width: 0%;}
}

.arrow-left__hidden {
  left: 0px !important;
  /* margin-top: 23% !important; */
  border-left: 40px solid #577d9f !important;
  border-right: 0px !important;
}

.arrow-right__hidden {
  right: 0px !important;
  border-right: 40px solid #577d9f !important;
  border-left: 0px !important;
}

.side-panel__hidden {
  width: 0% !important;
}

.main-pannel__to-side {
  width: 1080px !important;
  box-shadow: -25px 0 25px -25px #000 inset !important;
}

.field-main__to-side {
  width: 835px !important;
}

.main-pannel__wide {
  width: 100%;
}

.field-main__wide {
  width: 1080px;
}

.new-value {
  vertical-align: middle;
  line-height: 25px;
  width: 200px;
  margin: 10px;
  height: 25px;
  border: 1px solid #7a7a7a;
}

.remove-button {
  float: right;
  line-height: 20px;
  background: #bbbbbb;
  height: 20px;
  margin: 2px;
  width: 70px;
  text-align: center;
}

body { font: 12px Arial;}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.graph-wide {
  transform: scale(1.2,1);
}

.change-input {
  display: none;
  float: right;
  margin-right: 13px;
  margin-top: -28px;
  height: 15px;
  width: 15px;
  background-color: #d0cfcb;
  flex-direction: column;
  float: right;
}

.change-input--visible {
  display: flex;
}

.inc {
  content: ' ';
  margin-top: -3px;
  margin-bottom: 2px;
  border: 5px solid transparent;
  border-bottom: 5px solid black;
}

.dec {
  content: ' ';
  border: 5px solid transparent;
  border-top: 5px solid black;
}
